* {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.license {
    font-weight: bold;
    text-align: justify;
    margin: 5%;
    margin-top: 10%;
}