<!--
    Copyright © 2023 Mateus Felipe da Silveira Vieira

    Este programa é um software livre; você pode redistribuí-lo e/ou
    modificá-lo sob os termos da Licença Pública Geral GNU como publicada
    pela Free Software Foundation; na versão 3 da Licença, ou
    (a seu critério) qualquer versão posterior.

    Este programa é distribuído na esperança de que possa ser útil,
    mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
    a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
    Licença Pública Geral GNU para mais detalhes.

    Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
    com este programa. Se não, veja <http://www.gnu.org/licenses/>.
-->

<ion-header [translucent]="true" class="ion-text-center">
    <ion-title
        class="ion-text-center ion-margin-y ion-justify-content-center ion-padding"
    >
        Calculador de Peso Ideal
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-list>
            <ion-grid>
                <ion-col>
                    <ion-row
                        class="ion-align-items-baseline ion-justify-content-end ion-margin"
                    >
                        <ion-input
                            [(ngModel)]="altura"
                            type="sring"
                            placeholder="Insira sua altura"
                        ></ion-input>
                    </ion-row>
                    <ion-row
                        class="ion-justify-content-center ion-margin-bottom"
                    >
                        <ion-radio-group [(ngModel)]="sexo" class="ion-margin">
                            <ion-item>
                                <ion-label for="masculino">Masculino</ion-label>
                                <ion-radio
                                    type="sring"
                                    value="masculino"
                                ></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label for="feminino">Feminino</ion-label>
                                <ion-radio
                                    type="sring"
                                    value="feminino"
                                ></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-row>
                    <ion-button expand="block" (click)="CalcPeso()"
                        >Calcular</ion-button
                    >
                    <div class="ion-margin"></div>
                    <a
                        href="/ex2"
                        class="ion-text-center ion-justify-conent-center"
                        >Oi sor :) aqui está o Exercício 2</a
                    >

                </ion-col>
            </ion-grid>
        </ion-list>
    </div>
    
</ion-content>
